<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.users.index.size_avatar_sm), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t(".time_posted", time: time_ago_in_words(micropost.created_at))%>
    <% if current_user? micropost.user %>
      <%= link_to t(".del"), micropost, method: :delete, data: { confirm: t(".sure_del") } %>
    <% end %>
  </span>
</li>
